<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.meizhuo.app"
    android:versionCode="20"
    android:versionName="1.4.6" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
     <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> 
     <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
        <permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
     
     <!-- Required -->
    <permission android:name="org.meizhuo.app.permission.JPUSH_MESSAGE" android:protectionLevel="signature" />
   
    <!-- Required -->
    <uses-permission android:name="org.meizhuo.app.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>  
    <uses-permission android:name="android.permission.WRITE_SETTINGS" /> <!--since 1.6.0 -->
     
    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
 
 
     

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <!-- JPSHSDK集成 -->
        
         <!-- Required -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
         
        <!-- Required -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true" >
          <intent-filter android:priority="1000"> <!--since 1.3.5 -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!--since 1.3.5 -->
                <category android:name="org.meizhuo.app" /> <!--since 1.3.5 -->
            </intent-filter> <!--since 1.3.5 -->
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
     <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="org.meizhuo.app" />
            </intent-filter>
        </activity>
        <!-- Required SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />
      
        <!-- Required. For publish channel feature -->
        <!-- JPUSH_CHANNEL 是为了方便开发者统计APK分发渠道。-->
        <!-- 例如: -->
        <!-- 发到 Google Play 的APK可以设置为 google-play; -->
        <!-- 发到其他市场的 APK 可以设置为 xxx-market。 -->
        <!-- 目前这个渠道统计功能的报表还未开放。-->
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <!-- Required. AppKey copied from Portal -->
        <meta-data android:name="JPUSH_APPKEY" android:value="9219406e09dc90fd1bfdd6fa"/> 
        
        
        
        
        
        
        
        
        
        <activity
            android:name=".AppStart"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
          <service android:name=".CoreService" >
        </service>
        
        <activity
            android:name=".acty.Main"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.ConsultChat"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.InstitutionInfo"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.InstitutionConsultChat"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.Institutions"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.InstitutionsInfo"
            android:launchMode="singleTask" >
        </activity>
        <!-- InstitutionsInfo_details -->
         <activity
            android:name=".acty.InstitutionsInfo_details"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.PublicConsult"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.Setting"
            android:launchMode="standard" >
        </activity>
        <activity
            android:name=".acty.Professional_Training"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.Professional_TrainingView"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.UserCenter_Publicer"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.SettingAbout"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.Feedback"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.PublicConsult_Cultivate"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.PublicConsult_Org"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.PublicConsult_Policy"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.InstitutionConsult_Teacher"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.InstitutionConsult_Textbook"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.InstitutionConsult_Skill"
            android:launchMode="singleTask" >
        </activity>
          <activity
            android:name=".acty.UnitInfo_Search"
            android:launchMode="singleTask" >
        </activity>
          <activity
            android:name=".acty.Login"
            android:launchMode="singleTask" >
        </activity>
          <activity
            android:name=".acty.Employer_Register"
            android:launchMode="singleTask" >
        </activity>
           <activity
            android:name=".acty.UserCenter_Publicer_EditInfo"
            android:launchMode="standard" >
        </activity>
        <!-- Major_Search -->
           <activity
            android:name=".acty.Major_Search"
            android:launchMode="singleTask" >
        </activity>
        <!-- Major_Search_lv -->
           <activity
            android:name=".acty.Major_Search_lv"
            android:launchMode="singleTask" >
        </activity>
           <!-- UserCenter_Employer -->
        <activity
            android:name=".acty.UserCenter_Employer"
            android:launchMode="singleTask" >
        </activity>
        <!-- UserCenter_Employer_EditInfo -->
         <activity
            android:name=".acty.UserCenter_Employer_EditInfo"
            android:launchMode="standard" >
        </activity>
        <!-- Professional_Article -->
          <activity
            android:name=".acty.Professional_Article"
            android:launchMode="singleTask" >
        </activity>
        <!-- Professional_Evaluation -->
          <activity
            android:name=".acty.Professional_Evaluation"
            android:launchMode="singleTask" >
        </activity>
        <!-- CourseDetails -->
          <activity
            android:name=".acty.CourseDetails"
            android:launchMode="singleTask" >
        </activity>
        <!-- InstitutionInfo_Details -->
            <activity
            android:name=".acty.InstitutionInfo_Details"
            android:launchMode="singleTask" >
        </activity>
        <!-- CourseDetails_OneCourse -->
                  <activity
            android:name=".acty.CourseDetails_OneCourse"
            android:launchMode="singleTask" >
        </activity>
        <!-- InstitutionInfo_Search_lv -->
                  <activity
            android:name=".acty.InstitutionInfo_Search_lv"
            android:launchMode="singleTask" >
        </activity>
        <!-- Major_Search_Course_Lv -->
                         <activity
            android:name=".acty.Major_Search_Course_Lv"
            android:launchMode="singleTask" >
        </activity>    
         <!-- ShowWebImageActivity -->
         <activity
            android:name=".acty.ShowWebImageActivity"
             android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"  >
        </activity>    
        
         <!-- InstitutionInfo_Details_com_intro -->
 	  <activity
            android:name=".acty.InstitutionInfo_Details_com_intro"
            android:launchMode="singleTask" >
        </activity>   
         <!-- CourseDetails_description -->
         <activity
            android:name=".acty.CourseDetails_description"
            android:launchMode="singleTask" >
        </activity>
        <!-- Main_Advertise -->   
            <activity
            android:name=".acty.Main_Advertise"
            android:launchMode="singleTask" >
        </activity>
       <!-- 集成短信SDK -->
   <!--     <activity
   android:name="cn.smssdk.SMSSDKUIShell"
   android:configChanges="keyboardHidden|orientation|screenSize"
   android:theme="@android:style/Theme.Translucent.NoTitleBar"
   android:windowSoftInputMode="stateHidden|adjustResize" />  -->
   	 <!-- 集成短信SDK -->
       
            
    </application>

</manifest>