<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.meizhuo.app"
    android:versionCode="9"
    android:versionName="1.3.6" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
     <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> 
     <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
     
     <!-- 集成Share短信分享SDK权限 -->
   <!--   <uses-permission android:name="android.permission.READ_CONTACTS" />
		<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.RECEIVE_SMS" />
	<uses-permission android:name="android.permission.GET_TASKS" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
 <!-- 集成Share短信分享SDK权限 -->
     

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".AppStart"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
          <service android:name=".CoreService" >
        </service>
        
        <activity
            android:name=".acty.Main"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.ConsultChat"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.InstitutionInfo"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.InstitutionConsultChat"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.Institutions"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.InstitutionsInfo"
            android:launchMode="singleTask" >
        </activity>
        <!-- InstitutionsInfo_details -->
         <activity
            android:name=".acty.InstitutionsInfo_details"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.PublicConsult"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.Setting"
            android:launchMode="standard" >
        </activity>
        <activity
            android:name=".acty.Professional_Training"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.Professional_TrainingView"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.UserCenter_Publicer"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.SettingAbout"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.Feedback"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.PublicConsult_Cultivate"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.PublicConsult_Org"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.PublicConsult_Policy"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.InstitutionConsult_Teacher"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.InstitutionConsult_Textbook"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.InstitutionConsult_Skill"
            android:launchMode="singleTask" >
        </activity>
          <activity
            android:name=".acty.UnitInfo_Search"
            android:launchMode="singleTask" >
        </activity>
          <activity
            android:name=".acty.Login"
            android:launchMode="singleTask" >
        </activity>
          <activity
            android:name=".acty.Employer_Register"
            android:launchMode="singleTask" >
        </activity>
           <activity
            android:name=".acty.UserCenter_Publicer_EditInfo"
            android:launchMode="standard" >
        </activity>
        <!-- Major_Search -->
           <activity
            android:name=".acty.Major_Search"
            android:launchMode="singleTask" >
        </activity>
        <!-- Major_Search_lv -->
           <activity
            android:name=".acty.Major_Search_lv"
            android:launchMode="singleTask" >
        </activity>
           <!-- UserCenter_Employer -->
        <activity
            android:name=".acty.UserCenter_Employer"
            android:launchMode="singleTask" >
        </activity>
        <!-- UserCenter_Employer_EditInfo -->
         <activity
            android:name=".acty.UserCenter_Employer_EditInfo"
            android:launchMode="standard" >
        </activity>
        <!-- Professional_Article -->
          <activity
            android:name=".acty.Professional_Article"
            android:launchMode="singleTask" >
        </activity>
        <!-- Professional_Evaluation -->
          <activity
            android:name=".acty.Professional_Evaluation"
            android:launchMode="singleTask" >
        </activity>
        <!-- CourseDetails -->
          <activity
            android:name=".acty.CourseDetails"
            android:launchMode="singleTask" >
        </activity>
        <!-- InstitutionInfo_Details -->
            <activity
            android:name=".acty.InstitutionInfo_Details"
            android:launchMode="singleTask" >
        </activity>
        <!-- CourseDetails_OneCourse -->
                  <activity
            android:name=".acty.CourseDetails_OneCourse"
            android:launchMode="singleTask" >
        </activity>
        <!-- InstitutionInfo_Search_lv -->
                  <activity
            android:name=".acty.InstitutionInfo_Search_lv"
            android:launchMode="singleTask" >
        </activity>
        <!-- Major_Search_Course_Lv -->
                         <activity
            android:name=".acty.Major_Search_Course_Lv"
            android:launchMode="singleTask" >
        </activity>    
         <!-- ShowWebImageActivity -->
         <activity
            android:name=".acty.ShowWebImageActivity"
             android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"  >
        </activity>    
        
         <!-- InstitutionInfo_Details_com_intro -->
 	  <activity
            android:name=".acty.InstitutionInfo_Details_com_intro"
            android:launchMode="singleTask" >
        </activity>   
         <!-- CourseDetails_description -->
         <activity
            android:name=".acty.CourseDetails_description"
            android:launchMode="singleTask" >
        </activity>
        <!-- Main_Advertise -->   
            <activity
            android:name=".acty.Main_Advertise"
            android:launchMode="singleTask" >
        </activity>
       <!-- 集成短信SDK -->
   <!--     <activity
   android:name="cn.smssdk.SMSSDKUIShell"
   android:configChanges="keyboardHidden|orientation|screenSize"
   android:theme="@android:style/Theme.Translucent.NoTitleBar"
   android:windowSoftInputMode="stateHidden|adjustResize" />  -->
   	 <!-- 集成短信SDK -->
       
            
    </application>

</manifest>