<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.meizhuo.app"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".AppStart"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
          <service android:name=".CoreService" >
        </service>
        
        <activity
            android:name=".acty.Main"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.ConsultChat"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.InstitutionConsult"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.InstitutionConsultChat"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.Institutions"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.InstitutionsInfo"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.PublicConsult"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.Setting"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.UnitInfo"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.UnitInfoBase"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.UnitInfoLastest"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.UnitInfoLaw"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.UnitInfoPolicy"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.UnitInfoView"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.UserCenter"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.SettingAbout"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.Feedback"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.PublicConsult_Cultivate"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.PublicConsult_Org"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.PublicConsult_Policy"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.InstitutionConsult_Teacher"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.InstitutionConsult_Textbook"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".acty.InstitutionConsult_Skill"
            android:launchMode="singleTask" >
        </activity>
          <activity
            android:name=".acty.UnitInfo_Search"
            android:launchMode="singleTask" >
        </activity>
          <activity
            android:name=".acty.Login"
            android:launchMode="singleTask" >
        </activity>
          <activity
            android:name=".acty.Employer_Register"
            android:launchMode="singleTask" >
        </activity>
           <activity
            android:name=".acty.UserCenter_EditInfo"
            android:launchMode="singleTask" >
        </activity>
        <!-- Major_Search -->
           <activity
            android:name=".acty.Major_Search"
            android:launchMode="singleTask" >
        </activity>
        <!-- Major_Search_lv -->
           <activity
            android:name=".acty.Major_Search_lv"
            android:launchMode="singleTask" >
        </activity>
        
        
    </application>

</manifest>